@{
    ViewBag.Title = "Access Denied";

}
<div class="card p-5">
    <div class="text-danger text-sm-center">
        <h4>Access Denied</h4>
        <h6>You do not have access to view this resource</h6>
        <img src="~/images/access-denied.jpg" asp-append-version="true" style="height:300px; width:300px;" />
    </div>
</div>