@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<div class="container mt-3">
    <h1 class="text-danger">@ViewBag.ErrorTitle</h1>
    <h2 class="text-danger">@ViewBag.ErrorMessage</h2>


</div>