@model ForgotPasswordViewModel

@{
    ViewBag.Title = "Password Changed";
}

<div class="col-sm-4 col-md-4 offset-sm-4 pull-sm-4">
    <h5>Password changed confirmation</h5>
    <label class="col-form-label">Your password change was successful, <a class="btn-link" asp-action="signin" asp-controller="account">clcik to proceed to login</a> </label>
    <hr />
    <a asp-action="index" asp-controller="home" class="btn-link">Click here to go back home page</a>
</div>
