@{
    ViewData["Title"] = "Home";
}
<style>
    
</style>
<div class="container-fluid bg-primary">
    <div id="carouselSlide" class="carousel slide" data-ride="carousel">
        <div class="">
           
            <div class="carousel-item active">
                <img src="~/images/edms-user.jpg" class="d-block w-100" height="600" />
                <div class="carousel-caption d-sm-block titles">
                    <div class="d-flex justify-content-center">
                        <div class="form-group row">
                            <a class="btn btn-dark mr-5 " href="#">Sign In</a>
                            <a class="btn btn-danger " href="#">Sign Up</a>
                        </div>
                    </div>
                    <h3 class="h1-text">Your Document In One Place</h3>
                    <h5 class="h6-text">Create, Save and access your document anytime from anywhere.<br /><br /> Use e-Document Management System.</h5>
                    <h6>by: Zahra</h6>

                </div>
            </div>


        </div>
       
    </div>
</div>
